/* @keyframes rainbowtext {
    0% {
        color: red;
        font-size: 20px;
    }
    25% {
        color: orange;
    }
    50% {
        color: yellow;
        font-size: 40px;
    }
    75% {
        color: green;
    }
    100% {
        color: blue;
        font-size: 20px;
    }
}

p {
    animation-name: rainbowtext;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
} */

body {
    margin: 0 0 0 0;
    background-color: #2c3e50;
    animation-name: sky;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0;
}

.sun {
    background: #f1c40f;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation-name: sunset;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.grass {
    background:green;
    height: 600px;
    width: 100%;
    position: absolute;
}

/* @keyframes sky {
    0% {
        background-color: #2c3e50;
    }
    10% {
        background-color: pink;
        transform: 
    }
    30% {
        background-color: aquamarine;
    }
    70% {
        background-color: aquamarine;
    }
    90% {
        background-color: pink;
    }
    100% {
        background-color: #2c3e50;
    }
}

@keyframes sunset {
    0% {
        background-color: orange;
        transform: translate(-200px, 200px);
    }
    25% {
        background-color:yellow;
        transform: translate(350px, 0px);
    }
    50% {
        background-color: yellow;
        transform: translate(750px, -50px);
    }
    75% {
        background-color: yellow;
        transform: translate(1200px, 0px);
    }
    100% {
        background-color: red;
        transform: translate(1550px, 200px);
    }
} */